#searchBox {
    border: 1px solid #ccc;
    width: 26%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.is-loading {
    display: flex;
    justify-content: center;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .charityContainer {
    border: 1px solid #ccc;
    width: 26%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
  }

  .charityList {
      border-bottom: 1px solid #ccc;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
      cursor: pointer;
  }

  .charityList:hover {
    background-color: #3498db;
    color: white;
}