
<div class="search-form">

        <input id="searchBox" type="text" placeholder="Search For A Charity" matInput [formControl]='userInput'>

        <div>
            <div *ngIf="isLoading" class="is-loading"><div class="loader"></div></div>
            <div class="charityContainer" *ngIf="!isLoading && !hideDropDown">
                <a href="javascript:void(0)" (click)="addCharityToDonationList(charity)" class="charityList" *ngFor="let charity of filteredCharities">
                    <div>{{ charity.charityName }}</div>
                    <div><small>Mission Statement: {{charity.orgDetails.missionStatement}}</small></div>
                </a>
            </div>
        </div>
</div>

