<div class="hero-image">
    <div class="citi-logo"></div>
    <div class="hero-text">
      <h1 style="font-size:50px">Open Hands</h1>
      <p>Join us, let us go around the world together with kindness!</p>
    </div>
</div>