@import "../../../assets/master";
section {
    min-height: 135px;
    border: 1px solid #ffffff;
    background: linear-gradient(179deg, #ffffff, #a2bcbf);
    margin-top: -100%;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    opacity: 0;
    justify-content: center;
    
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        /* IE10+ specific styles go here */  
        height: 100%;
    }
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 39%), 0 7px 23px 0 rgb(0 0 0 / 19%);
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    width: 46%;
    transition: ease-in .15s;
    transition-property: margin-top, opacity;
    overflow-y: auto;
    max-height: 500px;
    @media screen and (max-width: 1586px) {
        width: 46%;
        @media screen and (max-width: 768px) {
            width: 90%;
            margin-right: 5%;
            margin-left: 5%;
            padding-left: 10px;
            padding-right: 10px;
            @media screen and (max-width: 500px) {
                position: relative;
                margin-bottom: 30px;
                width: 90%;
                margin-right: 0px;
                margin-left: 0px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.longBody {
    justify-content: space-between !important;
    margin-top: 20px !important;
    padding-bottom: 20px;
}

div {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    background-color: rgba(0, 0, 0, 0.205);
    @media screen and (max-width: 500px) {
        overflow-y: auto;
    }
}

.animate-in {
    margin-top: calc(50vh - 350px);
    opacity: 1;
    @media screen and (max-width: 1024px) and (max-height: 1366px) {
        margin-top: calc(50vh - 1000px);
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
        @media screen and (max-width: 414px) {
            margin-top: 23px;
            @media screen and (max-width: 375px) {
                margin-top: 139px;
                @media screen and (max-height: 812px) {
                    margin-top: 4px;
                    @media screen and (max-height: 667px) {
                        margin-top: 139px;
                    }
                }
                @media screen and (max-width: 320px) {
                    margin-top: 193px;
                }
            }
        }
    }
}

.hide {
    display: none;
}


:host ::ng-deep p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    line-height: 1.4;
    font-size: $large;
    @media screen and (max-width: 768px) {
	    font-size: $medium;
        @media screen and (max-width: 320px) {
            font-size: $xsmall;
        }
    }
}

textarea {
    width: 86% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    resize: none;
    min-height: 222px;
    font-size: $large;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    @media screen and (max-width: 768px) {
	    font-size: $medium;
    }
}

