:host {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::ng-deep button {
    color: #fff;
    border-color: #056dae;
    background: #056dae;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}