:host {
    text-align: center;
    min-height: 300px;
}

.actions {
    display: block;
    margin-top: 48px;
    clear: both;
}

.CardFillSection {
    margin-top: 25px;
}

.successImage {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.sucCopy {
    margin-bottom: 30px;
    width: 75%;
    font-size: 18px;
}

.titleSuccess {
    margin-top: 40px;
    font-weight: bold;
    font-size: 24px;
}

.CardFillSection input[type="text"] {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 2px;
}

#paymentOpt {
    text-align: left;
}

.modalBtn {
    margin-bottom: 15px;
}

.modalBtnYesNo {
    margin-bottom: 15px;
    width: 150px;
}

#inputbox {
    margin-bottom: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.actions button:first-child {
    margin-right: 5px;
}

.middle {
    margin-top: 40px;
    margin-bottom: 40px;
}

.totals {
    margin-top: 10px;
}

.totalAmountLabel {
    float: right;
    font-weight: bold;
}

.pickedCharities {
    width: 43%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.tlabel {
    float: left;
}

.donateCharity {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: left;
}