<section role="main">
<h2>Doing good made easier here at Citi!</h2>
<p>At citi, we have decided to make it easier to donate to charities all around the world.</p>
<p>Why donate to one charity, when you could donate to multiple charities at once.</p>
<p>Of course, we will charge you once and donate to all the charities on your behalf.</p>
<p>You will receive a receipt from us for each of your donations for tax filling purposes</p>

<section class="middle">
    <search></search>
    <section *ngIf="charities && charities.length > 0" class="pickedCharities">
        <p class="donateCharity">Charities You Are Donating To</p>
        <charity *ngFor="let charity of charities" [info]="charity"></charity>
        <section class="totals">
            <span class="tlabel">Total Donation Amount: </span>
            <span class="totalAmountLabel" [innerHTML]="totalAmount"></span>
        </section>

        <div class="actions">
            <button (click)="makeAPayment()">Make A Payment</button>
            <a href="javascript:void(0)" (click)="cancelDonation()">Cancel</a>
        </div>
    </section>
</section>
<modal [(show)]="showInput">
    <p [innerHtml]="modalTitle"></p>
    <input id="inputbox" type="text" [(ngModel)]="newValue"/>
    <button class="modalBtn" (click)="updateInputValue()">Okay</button>
</modal>
<modal [(show)]="showInputYesNo">
    <p [innerHtml]="modalTitle"></p>
    <button class="modalBtnYesNo" (click)="updateInputYesNo('yes')">Yes</button>
    <button class="modalBtn" (click)="updateInputYesNo('no')">No</button>
</modal>
<modal [(show)]="showPayment">
    <form id="paymentOpt">
        <p>Please select your Payment Option:</p>
        <input type="radio" id="checking" name="paymentOption" value="checking" (change)="onItemChange($event)">
        <label for="checking">Citi Checking: 2293</label><br>
        <input type="radio" id="saving" name="paymentOption" value="saving" (change)="onItemChange($event)">
        <label for="saving">Citi Saving: 2839</label><br>
        <input type="radio" id="paypal" name="paymentOption" value="paypal" (change)="onItemChange($event)">
        <label for="paypal">Paypal</label><br>
        <input type="radio" id="other" name="paymentOption" value="other" (change)="onItemChange($event)">
        <label for="other">Other</label>

        <div class="CardFillSection" *ngIf="showCardFillSection">

            <p>Credit Card Information: </p>

            <label for="nameofcardholder">Name Of Card Holder</label><br>
            <input type="text" id="nameofcardholder" ><br><br>
           
            <label for="creditcardnumber">Credit Card Number</label><br>
            <input type="text" id="creditcardnumber"><br><br>
            
            <label for="expirydate">Expiry Date</label><br>
            <input type="text" id="expirydate" placeholder="MM/YY"><br><br>
            
            <label for="cvc">CVC</label><br>
            <input type="text" id="cvc"><br><br>

        </div>
      </form>

      <button class="modalBtn" (click)="submitPaymentChoice()">Okay</button>
</modal>
<modal [(show)]="showConfirmation">
    <p class="titleSuccess">Success!</p>
    <img class="successImage" src="./assets/images/success.jpg"/>
    <p class="sucCopy">Your donation has been successfully completed. You will receive confirmation of payment(s) in your email soon. Thank you for your generosity</p>
    <button class="modalBtn" (click)="closeInput()">Okay</button>
</modal>
</section>
