.dAmount {
    display: block;
    float: right;
}

:host {
    text-align: left;
}

.moreinfo {
    margin-top: 12px;
}

.mission {
    display: inline-block;
    max-width: 50%;
}
.charName {
    display: inline;
}

.charCase {
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}

.actions {
    float: right;
}

button:first-child {
    margin-right: 5px;
}