<div class="charCase">
<p class="charName" [innerHTML]="info?.charityName"></p>
<div class="actions">
    <button (click)="editDonation()">Edit</button>
    <button (click)="deleteDonation()">Delete</button>
</div>
<div class="moreinfo">
    <p class="mission"><small>Mission Statement: {{info?.orgDetails?.missionStatement}}</small></p>
    <p class="dAmount" innerHTML="{{'$' + info?.donationAmount}}"></p>
</div>
<p><small>Stock Option: {{info?.stockOptionValue + " points"}}</small></p>